*,
    *::before,
    *::after {
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
    }
body {
    width: 1260px;
}

.pod_nadpis{
    display: flex;
    justify-content: space-between;
    border-top:solid 1px;
    border-bottom:solid 1px;
    padding: 5px  ;
    margin: 15px;
}

.nadpisek{
    font-size:medium;
    text-align: center;
    margin-top: 5px;
    border-bottom: 3px solid black;

}

.obrazek800{
    object-fit: cover;
    width: 600px;
    padding-left: 5px;

}

.obr2{
    
}

h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 137px;

}
.znacka {
    text-align: right;
    padding-right: 20px;
}

.stred_2sloupce{
    column-count: 2;
    column-gap: 15px ;
    margin: 5px;
    border-bottom: 3px solid  black;
    padding-bottom: 5px;
}

#vatikan{
    text-align: center;
    font-size: medium;
}

.odsazeni_stred{
    padding-top: 10px;
}


h3{
    text-align: center;
    font-size: xx-large;
}

h2{
    text-align: center;
}

h4 {
    padding: 0px;
    font-size: x-large;
    text-align: center;
}
p {
    
    text-align:justify ;
    font-size: large;
    padding-bottom: 5px;

}
.nadpis {
    border-top: 3px solid black;
    padding-top: 10px;

}

.box {
    background-color: palevioletred;
    
    display: grid;
    

    color: rgb(255, 255, 255);

    border: 2px dashed blue;
    border-radius: 10px;
    
    font-size: 1.2rem;
}

.bento-grid{
    display: grid;
    grid-template-columns: 300px 300px 300px 300px ;
    grid-template-rows:200px 220px 410px 350px 119px 1000px ;
    margin-bottom: 5px;
    gap: 10px;
    justify-content: center;
}

#item-1{
    grid-column: 1 / 2;
    grid-row: 1 / 7;
    
    
}
#item-4{
    grid-column: 2 / 4;
    grid-row:3 /5 ;
}
#item-7{
    grid-column:2 / 4;
}
#item-3{
    grid-row: 1 / 7;
    grid-column: 4 / 5;
}
#item-2{
    grid-column:2 / 4;
    grid-row:1 /3 ;
}
#item-8{
    grid-column:1 / 4;
}
#item-5{
    grid-column: 2 / 3 ;
    grid-row: 5 / 7;
}
#item-6{
    grid-column: 3 / 4;
    grid-row: 5 / 7;
}
.datum{
    text-align: right;
    font-style:italic;
    font-size:medium;
    font: bolder;
}